body{
	margin:0;
	padding:0;
}
.main{
	display: grid;
	grid-template-columns: 300px auto;
}
.nav-bar{
	/*color for nav-bar*/
	background-color: lightgrey;
}
.nav-bar h1{
	margin-top: 32%;
	padding-top: 2%;
	text-align: center;
}
.nav-bar h1 a{
	text-decoration: none;
}
.main-container{
	/*class main-conatiner*/
	display: flex;
	flex-direction: column;
}

.job-image{
	/*class for job-image*/
	display: flex;
	flex-direction: row;
	text-align: center;
}
.job{
	/*class for job*/
	/*margin:5%;*/
	padding:2%;
	width:50%;
	/*border-style: all;*/
}
.image{
	margin-left: 3%;
	margin-top:3%;
}
.map{
	/* clasa for map*/
	text-align: center;
	margin-top:5%;
}
.footer{
	bottom: 0;
	grid-column: 1/ span 2;
	background-color: #fff;
}
.footer ul{
	max-width: 640px;
	margin: 4% auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer ul li{
	list-style: none;
}
@media Screen and (max-width: 700px){
	/*responsive for page*/
	.main{
		display: inline-flex;
		flex-direction: column;
	}
	.nav-bar{
	    grid-row: 1 / 2;
 	    background-color:  #ffe6e6;
 	    width: 100%;
    }
    .main-container{
    	height: 600px
    	background-color:white;
    }
    .nav-bar{
    	display: flex;
    	flex-direction: row;
    	justify-content: space-around;
    }
    .nav-bar h1{
	margin-top: 2%;
	padding-top: 2%;
    }
    .nav-bar h1 a{
    	text-align: center;
    	padding:4%;
    	margin: 3%;
    }
    .footer{
    	order: 2;
    }

}